.project-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.project-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    width: 70%;
    padding: 0 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 0;
}

.project {
    padding: 20px;
    display: none;
    position: relative;
    opacity: 0;
    transform: translateX(-20px); /* Geser sedikit ke kiri */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.project .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.project h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
}

.project a {
    font-size: 24px;
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease-in-out;
}

.project a:hover {
    color: #007bff;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.carousel-icon {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
    color: #007bff;
}

.carousel-icon:hover {
    color: #0056b3;
}
