/* styles.css */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jua', sans-serif;
    overflow-x: hidden;
}

.fire-animation {
    width: 100px; /* Lebar animasi api */
    height: 100px; /* Tinggi animasi api */
    background-image: url('path-to-fire-sprite.gif'); /* Ganti dengan path ke gambar sprite animasi api */
    animation: fire 1s steps(10) infinite; /* Animasi api */
}
  
@keyframes fire {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 0 -1000px; /* Sesuaikan dengan ukuran sprite animasi api */
    }
}

.page {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s, background-color 1s;
}

.active-page {
    opacity: 1;
    background-color: #f0f0f0;
    transition: opacity 1s, background-color 1s;
}

#homePage {
    background-color: #051C2C; /* Warna latar beranda - Merah */
}

#aboutPage {
    background-color: #3b0026; /* Warna latar "About" - Hijau */
}

#projectsPage {
    background-color: #ffff00; /* Warna latar "Projects" - Biru */
}
